<?xml version="1.0" encoding="utf-8"?>
<plugin
    xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="nfc_mabs10"
    version="0.1">

    <name>NFC</name>

    <description>Near Field Communication (NFC) Plugin. Read NDEF messages from NFC tags and share NDEF messages with peers.</description>

    <license>MIT</license>
    <keywords>nfc, NFC, NDEF</keywords>
    <repo>https://github.com/chariotsolutions/nfc_mabs10.git</repo>
    <issue>https://github.com/chariotsolutions/nfc_mabs10/issues</issue>

    <platform name="android">
        <js-module src="www/nfc_mabs10.js" name="NFC">
            <runs />
        </js-module>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="NfcPlugin">
                <param name="android-package" value="com.chariotsolutions.nfc.plugin.NfcPlugin"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <source-file src="src/android/src/com/chariotsolutions/nfc/plugin/NfcPlugin.java"
            target-dir="src/com/chariotsolutions/nfc/plugin"/>
        <source-file src="src/android/src/com/chariotsolutions/nfc/plugin/Util.java"
            target-dir="src/com/chariotsolutions/nfc/plugin"/>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.NFC"/>
            <uses-feature android:name="android.hardware.nfc" android:required="false"/>
        </config-file>

    </platform>

    <platform name="ios">
        <js-module src="www/nfc_mabs101.js" name="NFC">
             <clobbers target="nfcmabs101swift" />
        </js-module>
        <config-file parent="/*" target="config.xml">
            <feature name="NFCMABS101Swift">
                <param name="ios-package" value="NFCMABS101Swift" />
            </feature>
            <preference name="UseSwiftLanguageVersion" value="5" />
        </config-file>
        <source-file src="src/ios/NFCMABS101.swift"/>
        <!-- frameworks 
        <framework src="CoreNFC.framework" weak="true"/>
        -->
    </platform>
</plugin>
